html {
    font-family: 'Open Sans', monospace;
}

.container {
    height: 100%;      /* usa el 100% del area disponible de altura */
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);             /* fraction unit */
    grid-template-rows: 40px auto 40px;
    grid-template-areas: 
        "h h h h h h h h h h h h" 
        "m m c c c c c c c c c c"
        "f f f f f f f f f f f f";
    
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: antiquewhite;
}

html, body {
    box-sizing: border-box;
    background-color: #ffeead;
    height: 100%;
    padding: 10px;
    margin: 0px;
}

.header {
    /* grid-column: 1 / -1;  este metodo le dice desde la linea 1 hasta la ultima */
    grid-area: h;
    background-color: lightslategrey;
}

.menu {
    /*grid-column: 3 / -1;
    grid-row: 2 / 4; */
    grid-area: m;
    background-color: tomato;

}

.content {
    /*grid-column: 1 / 3;
    grid-row: 2 / 4;*/
    grid-area: c;
    background-color: red;
}

.footer {
    /*grid-column: 1 / -1;*/
    grid-area: f;
    background-color: burlywood;
}